:root{
    --blue: #20b2aa;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*Styles to Header*/
header {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

header a {
    font-size: 20px;
    color: var(--blue);
    padding: 10px 15px;
    text-decoration: none;
}

header a:hover {
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
}

header nav {
    margin: 10px 5px; /*MAYBE CHANGE THIS*/
}

header nav ul {
    list-style: none;
}

header nav ul li {
    color: black;
    font-size: 20px;
    padding: 10 15px;
}

/*Main Content Styles*/
.container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
}

.hide {
    display: none;
}

/*Intro Styles*/
.intro {
    text-align: center;
}

.intro p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.intro h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

/*Button Styles*/
.btn-choices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    width: 50%;
    display: inline-block;
    color: white;
    font-size: 22px;
    margin: 5px;
    padding: 15px 60px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: 75%;
}

.start-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 60px;
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
    border-radius: 10px;
}

.start-btn:hover {
    opacity: 75%;
}
  
button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.container .question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clearbtn {
    width: auto;
}

/*Outro Styles*/
#outro {
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
}

#outro h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

#outro span#high-score {
    line-height: 1.5em;
    padding: 0;
}

#outro input {
    border: 1px solid var(--blue);
    display: inline-block;
    padding: 6px 15px;
    font-size: 15px;
    border-radius: 10px;

}

#outro .submit-btn {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 10px;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin: 5px;
    padding: 6px 15px;
    cursor: pointer;
}

#outro .submit-btn:hover {
    opacity: 75%;
}

/*Footer Styles*/
footer {
    font-size: 45px;
    margin: 40px auto;
    text-align: center;
}

/*Highscores Styles*/
.highscores-display ul {
    margin: 20px auto;
    width: 50%;
    list-style: none;
}

.highscores-display ul li:hover {
    background-color: #95bfce;
}

.highscores-display li {
    font-size: 18px;
    line-height: 2em;
    background-color: #efefef;
    padding: 10px;
    list-style: decimal inside none;
}

.highscores-display li:nth-child(odd) {
    background-color: #bad0d8;
  }

.highscores-display .btn {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
    background-color: #568ea3;
    border: none;
    border-radius: 10px;
    width: 30%;
    display: inline-block;
    color: var(--white);
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.highscores-display .btn:hover {
    background-color: #95bfce;
}