:root{

}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*Styles to Header*/
header {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

header a {
    font-size: 20px;
    color: turquoise;
    padding: 10px 15px;
    text-decoration: none;
}

header nav {
    margin: 10px 5px; /*MAYBE CHANGE THIS*/
}

header nav ul {
    list-style: none;
}

header nav ul li {
    color: black;
    font-size: 20px;
    padding: 10 15px;
}

/*Main Content Styles*/

/*Intro Styles*/

/*Button Styles*/

/*Outro Styles*/

/*Footer Styles*/
footer {
    font-size: 45px;
    margin: 40px auto;
    text-align: center;
}

/*Highscores Styles*/